# Production build
/build/
/dist/

# Dependency directories
/client/node_modules/

# Development env files
/client/.env.local
/client/.env.development.local

# Cache files
/client/.cache/
/client/public/sw.js
/client/src/serviceWorker.js

# Misc
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.eslintcache

