# Dependency directories
/server/node_modules/

# Environment configuration files
/server/.env
/server/.env.local

# Logs
/server/logs/
/server/*.log
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

# Compiled source #
###################
/dist
/build

# System Files
.DS_Store
